In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
r = requests.get("https://www.myhora.com/%E0%B8%AB%E0%B8%A7%E0%B8%A2/%e0%b8%aa%e0%b8%96%e0%b8%b4%e0%b8%95%e0%b8%b4%e0%b8%ab%e0%b8%a7%e0%b8%a2-%e0%b8%a2%e0%b9%89%e0%b8%ad%e0%b8%99%e0%b8%ab%e0%b8%a5%e0%b8%b1%e0%b8%87-31-%e0%b8%9b%e0%b8%b5.aspx?mode=year-range&value=31")

In [3]:
r.text[:200]

'<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">\r\n\r\n<html xmlns="http://www.w3.org/1999/xhtml"><head>\r\n<title>สถิติหวยออกย้อนหล'

In [4]:
s = BeautifulSoup(r.text, 'lxml')

In [5]:
data = []
table = s.find('table', {"id" : "dl_lottery_stats_list"})
table_body = table.find('tbody')

In [6]:
rows = table.find_all('td')
for row in rows:
    cols = row.find_all('div')
    cols = [ele.text.strip() for ele in cols]
    data.append([ele for ele in cols if ele]) # Get rid of empty values

In [7]:
df = pd.DataFrame(data)

In [8]:
edit_df = df.loc[:, [1, 2, 4, 6, 9, 10]]

In [9]:
edit_df

     1          2     4        6   9                10
0     1  พฤศจิกายน  2564   045037  95  247 458 331 755
1    16     ตุลาคม  2564   386372  38  602 964 295 798
2     1     ตุลาคม  2564   578171  83  285 361 379 449
3    16    กันยายน  2564   070935  90  609 817 007 379
4     1    กันยายน  2564   114475  79  278 302 123 458
..   ..        ...   ...      ...  ..              ...
739   1    ธันวาคม  2533  4771944  88  237 586 692 444
740  16  พฤศจิกายน  2533  1226536  06  426 020 721 050
741   1  พฤศจิกายน  2533  4380230  82  694 516 619 829
742  16     ตุลาคม  2533  5626303  56  351 928 923 431
743   1     ตุลาคม  2533  5738808  37  043 977 058 748

[744 rows x 6 columns]

In [10]:
edit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       744 non-null    object
 1   2       744 non-null    object
 2   4       744 non-null    object
 3   6       744 non-null    object
 4   9       744 non-null    object
 5   10      744 non-null    object
dtypes: object(6)
memory usage: 35.0+ KB